body {
  text-align: center;
  background: #69cbff96;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}

.home-header {
  text-align: center;
  color: #4e4e4e;
}

#chart-canvas {
  margin: 0 auto;
  display: block;
}

.top-artists, .top-tunes {
  padding: 25px;
  border-radius: 5px;
  margin: 5px;
  background-color: #4e4e4e;
  color: white;
  font-weight: bold;
  box-shadow: 1px 1px #80808054;
  font-size: 15px;
}

footer {
  bottom: 0;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 96vw;
}

i {
  color: #4e4e4e;
  margin: 10px;
}

i:hover{
  cursor: pointer;
  color: #676767;
}

.country-input {
  padding: 15px;
  border-radius: 25px;
}

.country-input:focus {
  outline: none;
}

.aside > button {
  padding: 15px;
}

.info-box {
  background-color: #14CC44;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #4e4e4e;
}

.info-modal-icon {
  float: right;
  padding: 5px;
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.modal-info {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -220px;
  width: 365px;
  height: 355px;
  padding: 20px;
  background: #fff;
  z-index: 3;
  border-radius: 5px;
  border: 1px solid #000;
}

.modal-info p {
  font-family: 'Open Sans', sans-serif;
}

.modal-info h1 {
  font-family: 'Archivo', sans-serif;
  font-weight: 500;
}