body {
  text-align: center;
}

h1 {
  font-family: 'Bangers', cursive;
}

.home-header {
  text-align: center;
}

#chart-canvas {
  margin: 0 auto;
  display: block;
}

.top-artists, .top-tunes {
  padding: 25px;
  border-radius: 5px;
  margin: 5px;
  background-color: #4caf50c4;
  box-shadow: 1px 1px #80808054;;
}

footer {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

i {
  color: #4e4e4e;
  margin: 10px;
}

i:hover{
  cursor: pointer;
  color: #676767;
}

.country-input {
  padding: 15px;
  border-radius: 25px;
}

.country-input:focus {
  outline: none;
}

aside {
  float: left;
}

.aside > button {
  padding: 15px;
}

.info-box {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}